{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}">
{% endblock %}
{% block body %}
	<h1 class="text-center">MARVENZ-BURNS IS FREEDOM 🎷</h1>
	<center>
		<!-- <div id="imageContainer">
			<img src="{{ asset('images/image-random.jpg') }}" height="50%" width="auto">
		</div> -->
		<div class="slideshow">
			<div class="slideshow-image" style="background-image: url('{{ asset('img/7bb79ac4570ffa3415cc1c92c450ddc4.jpeg') }}')"></div>
			<div class="slideshow-image" style="background-image: url('{{ asset('img/5289cedd1a67d141e5a94e2936e3b2df.jpeg') }}')"></div>
			<div class="slideshow-image" style="background-image: url('{{ asset('img/2bd16e39c247a99b62c59bf7fb686a01.jpeg') }}')"></div>
			<div class="slideshow-image" style="background-image: url('{{ asset('img/a159525dd67474c634581cea551073f9.jpeg') }}')"></div>
		</div>
	</center>
{% endblock %}