{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}">
{% endblock %}
{% block body %}
	<h1 class="text-center">MARVENZ-BURNS IS FREEDOM 🎷</h1>
	<center>
		<!-- <div id="imageContainer">
			<img src="{{ asset('images/image-random.jpg') }}" height="50%" width="auto">
		</div> -->
		<div class="slideshow">
			<div class="slideshow-image" style="background-image: url('{{ asset('images/096a35453660aa9b83ba4ab6d9182d61.jpg') }}')"></div>
			<div class="slideshow-image" style="background-image: url('{{ asset('images/1601.jpg') }}')"></div>
			<div class="slideshow-image" style="background-image: url('{{ asset('images/the-last-of-us-playstation-3-ps3-34608-wp.jpg') }}')"></div>
			<div class="slideshow-image" style="background-image: url('{{ asset('images/route.jpeg') }}')"></div>
		</div>
	</center>
{% endblock %}