{% extends 'base.html.twig' %}

{% block title %}Slide index{% endblock %}

{% block body %}
    <h1>Slide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSlide</th>
                <th>TitreSlide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td>{{ slide.idSlide }}</td>
                <td>{{ slide.titreSlide }}</td>
                <td>
                    <a href="{{ path('slide_show', {'idSlide': slide.idSlide}) }}">show</a>
                    <a href="{{ path('slide_edit', {'idSlide': slide.idSlide}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slide_new') }}">Create new</a>
{% endblock %}
